@font-face {
    font-family: Circular;
    src: url('../fonts/circular/CircularStd-Book.otf');
}

body {
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
	overflow: visible;
}

.search-input-inner-container {
	color:black;
}

.navbar {
    background-color: white;
    height: 65px;
    border-bottom: 1px ridge; 
    margin-bottom: 0px;
}

 .carousel img {
    width:100% !important;
    min-width:100 !important;
    height: auto;
}

.carousel{
    margin-top: -20px;
}

.input-box{
    margin-top: 4px;
    height: 43px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.input-without-border{
    margin-top: 4px;
    height: 43px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.checkbox{
    height: 18px;
    width: 18px;
}

.input-div-gray{
    background-color: #dddddd;
}

.container-search{
    margin-top: 14px;
}

.search-label{
    margin-top: 17px;
}

.small-padding{
    padding-right: 6px;
    padding-left: 6px;
}

.no-padding{
    padding-right: 0px;
    padding-left: 0px;
}

.no-padding-left{
    padding-right: 6px;
    padding-left: 0px;
}

.no-padding-right{
    padding-right: 0px;
    padding-left: 6px;
}

.room-header-image{
    width: 100%;
    height: 400px;
    background-image: url('../img/room.jpg');
    background-size: cover;
    background-position: 0px;
}

.host-header-image{
    width: 100%;
    height: 550px;
    background-image: url('../img/host.png');
    background-size: cover;
}

.homes-header-image{
    width: 100%;
    height: 550px;
    background-image: url('../img/host4.jpg');
    background-size: cover;
}

.room-header-title {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 36px !important;
    line-height: 44px !important;
    letter-spacing: -0.6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.carousel-content {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 20;
  text-shadow: 0 1px 1px rgba(0,0,0,.6);
}

.carousel-content-become-host {
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 20;
}

.big-text-landing
{
    
    font-weight: bold;
}

.big-button-landing
{
    background-color: transparent;
    border: 2px solid #5b4c5c;
    border-radius: 64px;
}

.navbutton-landing-left {
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 64px !important;
    position: absolute !important;
    border: 0px !important;
    outline: none !important;
    top: 50% !important;
    margin-top: -24px !important;
    height: 48px !important;
    width: 48px !important;
    text-align: center !important;
    padding: 16px 0 !important;
    z-index: 1 !important;
    left: 16px !important;
}

.navbutton-landing-right {
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 64px !important;
    position: absolute !important;
    border: 0px !important;
    outline: none !important;
    top: 50% !important;
    margin-top: -24px !important;
    height: 48px !important;
    width: 48px !important;
    text-align: center !important;
    padding: 16px 0 !important;
    z-index: 1 !important;
    right: 16px !important;
}

/*Adi Umbas Start*/
.slider-container{
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin-right:0px;
}

.slider{
    overflow: visible !important;
    -webkit-transition: -webkit-transform 0.5s,transform 0.5s !important;
    transition: -ms-transform 0.5s,-webkit-transform 0.5s,transform 0.5s !important;
    white-space:nowrap;
}

.next-slider{
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    display: block;
    width: 5% !important;
    padding: 0px !important;
    right: -0.7% !important;
    z-index: 1 !important;
    font-size:20px;
    text-align:center;
    cursor:pointer;
}

.prev-slider{
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    display: none;
    width: 5% !important;
    padding: 0px !important;
    left: -1.7% !important;
    z-index: 1 !important;
    font-size:20px;
    text-align:center;
    cursor:pointer;
}


.card{
    white-space: normal;
    display:inline-block !important;
    float:none !important;
}

.button-slider{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}

.button-slider-next:before{
    content: "\e080";
}

.button-slider-prev:before{
    content: "\e079";
}

.home-panjang img{
    width:100%;
}

.home-panjang{
    position:relative;
    padding:0 20px;
}

.home-lebar{
    position:relative;
    padding:0 20px;
}

.home-lebar img{
    width:100%;

}

.component-fullwidth nav a.prev {
    margin-left: -50% !important;
}

.component-fullwidth nav a.next {
    margin-left: 46% !important;
}

.component-fullwidth nav a {
    transform: translateY(0%);
}

#component nav{
    display: block;
    position: relative;
    top: -50%;
    z-index: 1002;
}

.harga{
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;

}

.desc{
    font-weight: 200 !important;
    color: #484848 !important;
    font-family: Circular !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: inline !important;

}
.review{
    display:block;
    font-size:1.3em;
    font-weight:500;
    margin-top:4px;
    text-align:left;
}

.padd8-0{
    padding:8px 0;
    color: #484848;
}

.review > * {
    float:left;
}

.title-home{
    font-family: Circular !important;
    font-size: 19px !important;
    text-align:left;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    margin: 0px !important;
    margin-bottom: 24px !important;
}

.div-desc{
    line-height: 18px !important;
    max-height: 36px !important;
    overflow: hidden !important;
    text-overflow: ellipis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    text-align:left;
}


.footer-container {
    padding: 0;
}
.container-brand-light {
    padding: 48px 0;
    background-color: #fff;
    color: #484848;
    border-top: 1px solid #dce0e0;
}

.row-condensed {
    margin-left: -6px;
    margin-right: -6px;
}

.language-curr-picker {
    padding-left: 0 !important;
}


@media (min-width: 744px) {
    .page-container-responsive {
        width: 696px;
    }

    .page-container-responsive {
        width: auto;
    }
}
@media (min-width: 744px) {
    .page-container, .page-container-responsive {
        padding-left: 24px;
        padding-right: 24px;
    }

    .page-container, .page-container-responsive {
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (min-width: 1128px) {
    .page-container-responsive {
        width: 1080px;
    }
}

.container-brand-light select {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #00848b;
}
.select-large select {
    padding-top: 10px;
    padding-bottom: 10px;
}

.select-large {
    font-size: 16px;
}
.select-block {
    display: block;
    width: 100%;
}

.screen-reader-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.space-2 {
    margin-bottom: 12px;
}

h5, .h5 {
    font-size: 16px;
    font-weight: bold;
}

.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}

.link-contrast {
    color: #767676;
}
a {
    color: #008489;
    text-decoration: none;
}
a {
    background: transparent;
}

.footer-table {
    display: table;
    width: 100%;
}

.list-inline {
    margin-left: -5px;
    margin-right: -5px;
    display: table-cell;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}

.right-list {
    text-align: right;
}

.icon-list li {
    display: inline;
}
.list-inline li {
    padding: 0 5px;
    display: inline-block;
}

.list-inline div {
    padding: 0 5px;
    display: inline-block;
}

.icon-list li a {
    display: inline-block;
    vertical-align: middle;
}

.footer-icon-container {
    display: block;
    height: 32px;
    width: 32px;
    text-align: center;
}

.link-contrast:hover, .link-contrast:focus, .link-contrast:active {
    text-decoration: none;
    outline: none;
    color: #00848b;
}

.icon-facebook:before {
    content: '\f16e';
}
.icon-twitter:before {
    content: '\f1f8';
}
.icon-instagram:before {
    content: '\f195';
}

.icon:before {
    line-height: 1;
}
.icon:before {
    font-family: Airglyphs, sans-serif;
}

.create-using-facebook{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-weight: normal;
    position: relative;
    display: block;
    white-space: normal;
    width: 100%;
    margin-bottom: 6px;
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
}

.create-using-google{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-weight: normal;
    position: relative;
    display: block;
    white-space: normal;
    width: 100%;
    margin-bottom: 6px;
    border-color: #c4c4c4;
    background: white;
    color: #484848;
}

.icon-facebook:before {
    content: '\f16e';
}

.icon-container{
    float: left;
    font-size: 1.2em;
}

.signup-or-separator {
    background: none;
    height: 50px;
    position: relative;
    text-align: center;
}

.signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
}

.create-using-email{
    border-color: #ff5a5f;
    background-color: #ff5a5f;
    color: #fff;
    position: relative;
    display:block;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-weight: normal;
}

.btn-facebook:hover, .btn-facebook:focus {
    border-color: #4568b2;
    background-color: #4568b2;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
    border-color: #ff7e82;
    background-color: #ff7e82;
    color: #fff;
}

.btn-primary{
    border-color: #ff7e82;
    background-color: #ff7e82;
    color: #fff;
}


.h6{
    font-size: 14px;
    font-weight: bold;
    color: #767676;
}
.signup-or-separator hr {
    margin: -27px auto 10px;
    width: 100%;
}

.decorative-input {
    background-image: url(../img/text-field-icons.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    height: 40px;
    padding: 10px 35px 10px 10px;
    width: 100% !important;
    -webkit-background-size: 40px 171px;
    -moz-background-size: 40px 171px;
    -o-background-size: 40px 171px;
    background-size: 40px 171px;
    border: 1px solid #aaa;
}

.space-1 {
    margin-bottom: 6px;
}

.space-top-4 {
    margin-top: 24px;
}

.space-4 {
    margin-bottom: 24px;
}

.icon-size-3 {
    font-size: 3.6em;
}

.col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.remember-me {
    margin-left: 20px;
    margin-top: 0px;
    width: auto;
    height: auto;
}

.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.select select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2em;
    display: block;
    padding: 8px 10px;
    width: 100%;
    transition: border-color 0.2s;
    border: 1px solid #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
}

.va-container-h {
    width: 100%;
}

.pull-left{
    margin-left:20px
}

input{
    width:100%;
    display:block;
    padding: 8px 10px;
    border: 1px solid #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.activation-image-panel--welcome {
    background-image: url(../img/welcome.jpg);
    height: 550px;
    background-color: rgba(130,136,138,0.6);
    background-size: cover;
    color: #fff;
    position: relative;
    text-align: center;
    max-width: 530px;
    margin: 0 auto;
}

.activation-image-panel--success{
    background-image: url(../img/success.jpg);
    height: 550px;
    background-color: rgba(130,136,138,0.6);
    background-size: cover;
    color: #fff;
    position: relative;
    text-align: center;
    max-width: 530px;
    margin: 0 auto;
}

.guest{
    padding: 6px 25px;
    height:40px
}

.text-lima, .icon-lima {
    color: #3fb34f;
}

@media (min-width: 768px){
    .welcome .modal-dialog {
        width: 425px;
        margin: 30px auto;
    }

    .welcome .modal-body{
        padding:0px;
    }
}

.help-search-container-banner {
    height: 400px;
}

.dls-help-search-bg {
    background-color: #00a699;
}

.media-cover, .media-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.media-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
}

.help-search-container {
    overflow: visible;
}
.media-photo-block {
    display: block;
}

.va-container-h {
    width: 100%;
}
.va-container-v {
    height: 100%;
}
.va-container {
    display: table;
    position: relative;
}

.va-middle {
    vertical-align: middle;
}
.va-top, .va-middle, .va-bottom {
    display: table-cell;
}
.text-contrast {
    color: #fff;
}

.dls-title-1 {
    font-size: 48px;
    font-weight: 700;
}

.space-6 {
    margin-bottom: 36px;
}


@media (min-width: 744px){
    .page-container-responsive {
        width: 696px;
    }
}

@media (min-width: 1128px){

    .page-container-responsive {
        width: 1080px;
    }
}

.page-container, .page-container-responsive {
    padding-left: 24px;
    padding-right: 24px;
}

.navtree {
    height: 450px;
}

.navtree-list {
    float: left;
    width: 300px;
    position: absolute;
    left: 0;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}

.navtree-list .sidenav-item {
    display: block;
    position: relative;
}
.sidenav-text, .sidenav-item {
    display: block;
    padding: 6px 0;
    font-size: 16px;
    color: #767676;
}

ul ul:last-child, ul ol:last-child, ol ul:last-child, ol ol:last-child {
    margin-bottom: 0;
}
li>.navtree-list {
    left: 100%;
    top: 0;
    display: none;
}
.navtree-list {
    float: left;
    width: 300px;
    position: absolute;
    left: 0;
}
.list-layout, .subnav-list, .sidenav-list {
    margin-bottom: 0;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}

.dls-help-center-background {
    background-color: #fff;
}

.dls-help-center .subnav {
    border-bottom: 1px solid #dce0e0;
    background-color: transparent;
    padding: 5px 0;
}
.subnav {
    position: relative;
    background-color: #484848;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dls-help-center .subnav .subnav-list {
    margin-left: -26px;
    margin-right: -26px;
}

.space-top-8 {
    margin-top: 48px;
}

.dls-help-center .subnav .subnav-item {
    color: #767676;
    font-size: 16px;
    font-weight: 200;
}

.subnav-item {
    color: #bbb;
}
.subnav-text, .subnav-item {
    position: relative;
    float: left;
    padding: 10px 14px;
    color: #fff;
}

.page-container:after, .page-container-responsive:after {
    clear: both;
}
.page-container:before, .page-container-responsive:before, .page-container:after, .page-container-responsive:after {
    content: " ";
    display: table;
}

.slideshow {
    position: relative;
    height: 230px;
}

.slideshow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#user-media-container #profile-video, #user-media-container #slideshow {
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.slideshow-preload {
    display: none;
}

.slideshow-images, .slideshow-thumbnails {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slideshow-images li.media-photo.active {
    display: inherit;
}
.slideshow-images li.media-photo {
    display: none;
}
.media-photo-block {
    display: block;
}
.media-photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #bbb;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.panel-header:first-child, .panel-body:first-child, ul.panel-body>li:first-child, ol.panel-body>li:first-child, .panel-footer:first-child {
    border-top: 0;
}
.panel-dark, .panel-header {
    background-color: #edefed;
}
.panel-header {
    color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
}
.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}

.panel-header+.panel-body, .panel-body+.panel-body, ul.panel-body>li+.panel-body, ol.panel-body>li+.panel-body, .panel-footer+.panel-body {
    border-top: none;
}
.panel-body {
    position: relative;
}
.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}

.panel-body>*:first-child {
    margin-top: 0;
}
.space-3 {
    margin-bottom: 18px;
}
.list-unstyled, .list-layout, .subnav-list, .sidenav-list {
    padding-left: 0;
    list-style: none;
}
.panel-body>*:last-child {
    margin-bottom: 0;
}

.show-sm {
    display: none !important;
}
.space-top-2 {
    margin-top: 12px;
}
.text-muted {
    color: #767676;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}
h1, .h1 {
    font-size: 44px;
    font-weight: normal;
}

.link-reset {
    color: inherit;
}

input#remember_me2 {
    width:18px;
}

.navbar-scrolled-down {
    animation: fadeInDown 0.5s;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    z-index: 10;
    width: 100%;
    margin-top: 0;
}


#navbar:not(.navbar-scrolled-down){
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 5;
    border-bottom: 0;
    padding-top: 18px;
    color:white !important;
}

.navbar-brand, .navbar-nav>li>a{
    color:inherit !important;
}

