.home-panjang img{
    width:100%;
}

.home-lebar img{
    width:100%;
}

.harga{
    font-size:2em;
    float:left;
    font-weight:bold;
}

.desc{
    font-size:1.5em;
    font-weight:lighter;
    margin-left:2px
}
.review{
    display:block;
    font-size:1.3em;
    font-weight:500;
    margin-top:4px;
}

.review > * {
    float:left;
}
